Dify Workflow.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: Standard Workflow
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1736636070209-source-1736636075539-target
      source: '1736636070209'
      sourceHandle: source
      target: '1736636075539'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1736636075539-source-1739139366423-target
      source: '1736636075539'
      sourceHandle: source
      target: '1739139366423'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1739139366423-source-answer-target
      source: '1739139366423'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1736636070209'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1739139366423.text#}}'
        desc: ''
        selected: false
        title: Antwort
        type: answer
        variables: []
      height: 101
      id: answer
      position:
        x: 986.8367587445468
        y: 282
      positionAbsolute:
        x: 986.8367587445468
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - d8385b0d-ead7-48d9-a288-725b5eebaef5
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 6
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: snowflake-arctic-embed2:latest
              embedding_provider_name: ollama
              vector_weight: 1
        query_variable_selector:
        - '1736636070209'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Wissensabruf
        type: knowledge-retrieval
      height: 91
      id: '1736636075539'
      position:
        x: 382.6447737802324
        y: 282
      positionAbsolute:
        x: 382.6447737802324
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1736636075539'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0
            top_k: 11
            top_p: 0.2
          mode: chat
          name: phi4:latest
          provider: ollama
        prompt_template:
        - id: 2c0f5b5e-bb68-480b-9309-619442d8b674
          role: system
          text: 'Du bist ein Chatbot für das Studienzentrum für Informatik (SZI).

            Bitte beantworte die Frage ({{#sys.query#}}) genau. Verwende dabei ausschließlich
            die angegebenen Daten ({{#context#}})'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '1739139366423'
      position:
        x: 685.5384456749512
        y: 282
      positionAbsolute:
        x: 685.5384456749512
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 56.671998393854324
      y: 86.45288071606689
      zoom: 1.246758253485513
